@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

:root{
  --error:#ef4444;
  --black:#000;
  --neutral:#404040;
  --white:#FFFFFF;
  --zinc-100:#f4f4f5;
  --zinc-200:#e4e4e7;
  --zinc-300:#d4d4d8;
  --zinc-500:#71717a;
  --zinc-800:#27272a;
}

*{
  font-family: 'Sora', sans-serif;
  scroll-behavior: smooth;
}

.text-outline{
  /* -webkit-text-stroke: 1px #333; */
  /* -webkit-text-fill-color: transparent; */
  color: white;
  text-shadow:
      -2px -2px 0 #000,  
      2px -2px 0 #000,  
      -2px 2px 0 #000,  
      2px 2px 0 #000;
}

.glass {
  @apply bg-white/20 bg-clip-padding backdrop-filter backdrop-blur-md
}