@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --error:#ef4444;
  --black:#000;
  --neutral:#404040;
  --white:#FFFFFF;
  --zinc-100:#f4f4f5;
  --zinc-200:#e4e4e7;
  --zinc-300:#d4d4d8;
  --zinc-500:#71717a;
  --zinc-800:#27272a;
}

*{
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
}